* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", serif;
    line-height: 2;
    background-color: #fafafa;
    color: #1F2937;
    padding: 32px 16px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

h1 {
    font-size: 48px;
    line-height: 1em;
    font-weight: normal;
    text-align: center;
    margin-bottom: 16px;
}

.subtitle {
    text-align: center;
    font-size: 16px;
    color: #6B7280;
    margin-bottom: 32px;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.button-section {
    padding: 32px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.button-section p {
    font-size: 16px;
    margin-bottom: 24px;
}

button {
    font-family: "Times New Roman", serif;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0;
}

.button-01 {
    background-color: #4d7926;
    color: #ffffff;
    padding: 16px 32px;
    border: 2px solid #4d7926;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.button-01:hover {
    background-color: #ab23a8;
    color: #ffc2fe;
    border-color: #ab23a8;
}

.button-02 {
    background-color: #0e6027;
    color: #ffffff;
    padding: 16px 32px;
    border: 2px solid #0e6027;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-02:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.button-03 {
    background-color: #1e86a2;
    color: #ffffff;
    padding: 16px 32px;
    border: 2px solid #1e86a2;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.button-03:active {
    background-color: #63cdda;
    border-color: #63cdda;
}

.button-04 {
    background-color: #af1c39;
    color: #ffffff;
    padding: 16px 32px;
    border: 2px solid #af1c39;
    transition: transform 0.3s ease;
}
.button-04:hover {
    transform: scale(1.1);
}

.button-05 {
    background-color: #f59e0b;
    color: #ffffff;
    padding: 16px 32px;
    border: 2px solid #f59e0b;
    transition: background-color 0.3s ease, transform 0.3s ease;
}  

.button-05:active {
     background-color: #344cd0;
     transform: scale(5);
}

.button-06 {
    background-color: #a91fff;
    color: #ffffff;
    padding: 16px 32px;
    border: 2px solid #ff781f;
    transition: transform 0.6s ease;
}

.button-06:hover {
    transform: rotate(360deg);
}